scikit-learn==0.20.3
numpy==1.16.4
pandas==0.24.2
tqdm==4.31.1
keras==2.2.4
keras-applications==1.0.7
keras-metrics==1.1.0
keras-preprocessing==1.0.9
tensorflow==2.6.4
pytorch==1.1.0
torchvision==0.2.2
scipy==1.2.1
